<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

    <title>weather app</title>
</head>
<body>
  {{>navbar}}
  
  
        <!---main header -->
        <div class="containter-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                      <!--left side div-->
                      <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="Shubham" class="img-fluid" title="Shubham technical">
                        </figure>
                          
                          <p>Welcome to Shubham Technical world</p> 
                          <h1>{{errorMsg}}</h1>
                         <a href="/"><button>GO BACK</button></a>
                        </div>
                      <!--right side div-->
                      
                    </div>
                  </div>
                </div>
            </div>
        </div>
       {{>footer}}
</body>
</html>