<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

    <title>weather app</title>
</head>
<body>
  {{>navbar}}
  
  
        <!---main header -->
      <div class="containter-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                          <!--left side div-->
                          <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/boy.png" alt="Shubham" class="img-fluid" title="Shubham technical">
                            </figure>
                          </div>   
                          <div class="col-md-6 col-12 main_header_left">
                              <p>Welcome to Weather app</p> 
                              <h1>I Am A <span class="text_clr"> Mern Stack Developer</span> and travler</h1>
                            <a href="https://www.facebook.com/Shubhampise99/" target="_Shubham"><button>About me</button></a>
                            </div>
                          <!--right side div-->
                    </div>
                </div>
            </div>
        </div>
       {{>footer}}
</body>
</html>